@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.productContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.productContainer .leftContainer {
  margin: 20px 0 0 30px;
}

.productContainer .leftContainer .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
}

.productContainer .leftContainer .path .pathHome {
  margin-right: 10px;
}

.productContainer .leftContainer .path .pathProduct {
  margin-left: 10px;
}

.productContainer .leftContainer .title {
  text-align: center;
  padding: 10px;
  background-color: #33ccff;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.productContainer .leftContainer .category {
  margin: 10px 0 0 10px;
  text-indent: 10px;
  color: #606060;
  cursor: pointer;
}

.productContainer .leftContainer .category .itemCategory {
  padding: 5px;
  border: 1px solid #EEEEEE;
  font-size: 16px;
  font-weight: 700;
}

.productContainer .leftContainer .price {
  margin: 10px 0 10px 10px;
}

.productContainer .leftContainer .price .itemPrice .checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEEEEE;
  padding: 10px;
}

.productContainer .leftContainer .price .itemPrice .checkBox label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productContainer .leftContainer .price .itemPrice .checkBox label:before {
  content: '';
  width: 1em;
  height: 1em;
  border: .05em solid black;
  margin-right: .5em;
  border-radius: .15em;
}

.productContainer .leftContainer .price .itemPrice .checkBox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.productContainer .leftContainer .price .itemPrice .checkBox label:hover::before,
.productContainer .leftContainer .price .itemPrice .checkBox input[type="checkbox"]:hover + label::before {
  background-color: #33ccff;
}

.productContainer .leftContainer .price .itemPrice .checkBox input[type="checkbox"]:checked + label::before {
  content: '\002714';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: #33ccff;
}

.productContainer .leftContainer .age {
  margin: 10px 0 0 10px;
}

.productContainer .leftContainer .age .itemAge .checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEEEEE;
  padding: 10px;
}

.productContainer .leftContainer .age .itemAge .checkBox label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productContainer .leftContainer .age .itemAge .checkBox label:before {
  content: '';
  width: 1em;
  height: 1em;
  border: .05em solid black;
  margin-right: .5em;
  border-radius: .15em;
}

.productContainer .leftContainer .age .itemAge .checkBox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.productContainer .leftContainer .age .itemAge .checkBox label:hover::before,
.productContainer .leftContainer .age .itemAge .checkBox input[type="checkbox"]:hover + label::before {
  background-color: #33ccff;
}

.productContainer .leftContainer .age .itemAge .checkBox input[type="checkbox"]:checked + label::before {
  content: '\002714';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: #33ccff;
}

.productContainer .leftContainer .type {
  margin: 10px 0 10px 10px;
}

.productContainer .leftContainer .type .itemType .checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEEEEE;
  padding: 10px;
}

.productContainer .leftContainer .type .itemType .checkBox label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productContainer .leftContainer .type .itemType .checkBox label:before {
  content: '';
  width: 1em;
  height: 1em;
  border: .05em solid black;
  margin-right: .5em;
  border-radius: .15em;
}

.productContainer .leftContainer .type .itemType .checkBox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.productContainer .leftContainer .type .itemType .checkBox label:hover::before,
.productContainer .leftContainer .type .itemType .checkBox input[type="checkbox"]:hover + label::before {
  background-color: #33ccff;
}

.productContainer .leftContainer .type .itemType .checkBox input[type="checkbox"]:checked + label::before {
  content: '\002714';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: #33ccff;
}

.productContainer .rightContainer {
  margin: 20px 0 0 10px;
}

.productContainer .rightContainer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  background-color: #6C6C6C;
  border-radius: 5px;
}

.productContainer .rightContainer .top .arrange {
  margin-right: 20px;
  text-indent: 20px;
}

.productContainer .rightContainer .top .arrangeButton {
  padding: 5px 50px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #6C6C6C;
  margin: 5px;
}

.productContainer .rightContainer .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 30px;
}

.productContainer .rightContainer .products .box {
  width: 250px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.productContainer .rightContainer .products .box a {
  text-decoration: none;
}

.productContainer .rightContainer .products .box .slide-img {
  height: 200px;
  position: relative;
  padding: 10px;
}

.productContainer .rightContainer .products .box .slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.productContainer .rightContainer .products .box .slide-img .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(52, 152, 202, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.productContainer .rightContainer .products .box .slide-img .overlay .buy-btn {
  width: 200px;
  height: 40px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.productContainer .rightContainer .products .box .slide-img .overlay .buy-btn:hover {
  color: #FFFFFF;
  background-color: #FF0000;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.productContainer .rightContainer .products .box .detail-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.productContainer .rightContainer .products .box .detail-box a {
  color: #33ccff;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.productContainer .rightContainer .products .box .detail-box .type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productContainer .rightContainer .products .box .detail-box .type span {
  color: rgba(26, 26, 26, 0.5);
}

.productContainer .rightContainer .products .box .detail-box .type .price {
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
}

.productContainer .rightContainer .products .box .detail-box svg {
  width: 24px;
  height: 24px;
}

.productContainer .rightContainer .products .slide-img:hover .overlay {
  visibility: visible;
  -webkit-animation: fade 0.5;
          animation: fade 0.5;
}
/*# sourceMappingURL=ProductsPage.css.map */