@import "./colors";
@import "./mixin";

.footer {
    background-color: $main-color;
    color: $white-color;
    
    .footerTop {
        @include flex-space-around;
        
        align-items: baseline;
        margin: 0 100px;
        width: auto;
        height: 160px;


        .title {
            font-weight: bold;
            margin: 10px 0;
        }

        .content {
            opacity: 0.8;
            margin: 5px 0;
            text-indent: 5px;
            p {
                margin: 5px 0;
            }
        }

        .connectWithUs {
            .contact {
                @include flex-space-around;
                align-items: baseline;
                font-size: 26px;
                cursor: pointer;
                .fb {
                    color: #3B5998;
                    background-color: $white-color;
                    border-radius: 100px;
                }
                .yt {
                    color: #FF0000;
                }
                .ig {
                    color: #FBAD50;
                }
            }
        }
    }

    hr {
        margin: 10px 300px;
        color: $white-color;
        background-color: $white-color;
    }

    .footerBottom {
        text-align: center;

        p {
            width: 30%;
            padding: 5px;
            margin: auto;
            line-height: 30px;
        }
    }
}